@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
/* banner section stylee start here */
.banner-container{
    width: 858px;
    height:100%;
    margin: 0 auto;
    margin-top: 20px;
   height: 390px;
   
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.banner-content{
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.banner-content p, h1{
    color: white;
}

.banner-content p{
    font-size: 20px;
    font-weight: 400;
}

.banner-content h1{
    font-size: 40px;
    font-weight: 900;
}

/* <!-- 65% off section style start here --> */
.second-section-container{
 width: 521px;
height: 525px;
margin: 0 auto;
margin-top: 58px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.second-section-container h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 57px;
    font-weight: 700;
   
}

.second-section-container p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500
}

.second-section-container h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 32px;
font-weight: 700; 
margin-bottom: 20px;
}

.image-container{
    width: 521px;
height: 325px;
}

.image-container img{
    width: 100%;
    height: 100%;
}


/* mdinight party section style */
.midnight-party-container{
    width: 858px;
  height: 100%;
    
    margin: 0 auto;
    margin-top: 78px;
    margin-bottom: 80px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
  
}



.left-side-content{
width:50%;
width: 417px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 30px;
}

.left-side-content h2{
 color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 41px;
font-weight: 900;
    }

 .left-side-content p{
        color: rgba(255, 255, 255, 0.8);
        font-family: Inter;
        font-size: 11px;
        font-weight: 400;
        margin-top: 20px;
        margin-left: 20px;
        }  

#midnight-button{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 13px;
font-weight: 700;
margin-top: 31px;
margin-right: 200px;
}

.right-side-content{
   
  width: 226px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: dashed 1 px white;
}

.mid-img{
    width: 100%;
}


/* new-park-section-style */
.new-park-section-container{
    width: 858px;
    height: 100%;
   border-radius: 16px;
   background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
   }
   
   .new-park-text{
       display: flex;
       flex-direction: column;
       height: 250px;
       justify-content: center;
       text-align: center;
       padding: 10px;
     
   }
       .new-park-text h4{
       font-family: Inter;
       font-size: 20px;
       font-weight: 600; 
       
   
       }
   
       .color{
           color: red;
       }
   button{
       width: 110px;
       padding: 10px;
       border: none;
       border-radius: 5px;
       background-color:red;
       color: #ffffff;
       font-size: 15px;
       cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       margin: 0 auto;
       
       
   }
    /* comming soon section style */
    .Coming-soon-container{
        width: 858px;
        height: 100%;
    }

    .Coming-soon-content{
       
       display: flex;
       justify-content: space-between;
       gap: 30px;
       align-items: center;
       
    }
   .text-content{
       width: 40%;
       padding: 30px;
       text-align: center;  
   }
   
   .text-content h4{
       color: red;
   }
    .Ellipse img{
       height: 150px;
       border: 4px solid red;
       border-radius: 50%;
       padding: 20px;
   
    }
   
    .new-year{
       text-align: center;
       padding: 30px;
    }
    .new-year p{
       margin: 20px 0;
       
    }
     .new-year img{
       height: 70px;
     }


/* holdy section style */
.holiday-section-container{
 width: 858px;
 height: 100%;
margin-top: 20px;
margin: 0 auto;
position: relative;

}

.holiday-text-container{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 694px;
height: 169px;
margin: 0 auto;
gap: 10px;
}
.holiday-text-container h5{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
}


.holiday-text-container h2{
font-family: Merriweather;
font-size: 46px;
font-weight: 900;
}

#holiday{
    color:rgb(255, 0, 0)
}
.holiday-text-container p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;   
    }
 .solid-color{
 width: 858px;
height: 148px;
background-color:  red;
position: absolute;
top: 77%;
 }

 .gift-box{
width: 518px;
margin: 0 auto;
margin-left: 15px;
margin-top: 20px;
margin-bottom: 20px;
border: dashed 1 px white;
position: relative;
z-index: 1;
display: flex;
justify-content: space-between;

 }
 .gift{
    width: 100%;
 }
   .discount{
    height: 191px;
    height: 191px;
   }

   /* portfolio style */
.portfolio-section-container{
width: 858px;
height: 100%;
margin: 0 auto;
margin-top: 78px;
}

.portfolio-text-content{
    text-align: center;
}
.portfolio-text-content h5{
 color: rgb(255, 0, 0);
font-family: Inter;
font-size: 15px;
font-weight: 500;
margin-bottom: 5px
}

.portfolio-text-content h3 {
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 31px;
font-weight: 900;
margin-bottom: 5px
}
.portfolio-text-content p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 13px;
font-weight: 400;
margin-bottom: 20px;
}

/* portfolio item style */
.portfolio-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
} 
.item img{
   width: 100%;
   height: 100%;

}
/* subcriber section style */
.Subscribe-section-container{
width: 858px;
height: 100%;
margin-top: 50px;
border-radius: 10px;
background: rgba(255, 0, 0, 0.05);
margin-bottom: 50px;

}

.Subscribe-content{
     text-align: center;
     padding: 70px;
}

.img img{
    height: 80px;
}

.subscribe-text-container h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 31px;
    font-weight: 900;
}

.subscribe-text-container p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 13px;
font-weight: 400;
}

.Subscribe{
    padding: 20px;
}

input{
    background-color:white;
    width: 50%;
    padding: 10px;
   border-radius: 20px;
   border: none;
}


/* fotter style */
.footer-container{
width: 858px;
height: 100%;
margin: 0 auto;
background: rgb(7, 2, 17);
margin: 0 auto;
padding: 30px;
}

.contact{
    color: white;
    display: flex;
    
}

.footer-first-section{
    display: flex;
    color: white;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hr{
    width: 90%;
    margin: 0 auto; 
   
    
}

.social-icons{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin:  20px auto;
    display: flex;
    justify-content: space-evenly;
}

.footer-end-text{
    width: 90%;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}

.hr1{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}