@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family: "Merriweather", serif;
}
/* banner section stylee start here */
.banner-container{
    width: 858px;
    margin: 0 auto;
    margin-top: 20px;
   height: 390px;
   
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.banner-content{
    display: flex;
    flex-direction: column;
    height: 390px;
    justify-content: center;
    text-align: center;
}
.banner-content p, h1{
    color: white;
}

.banner-content p{
    font-size: 20px;
    font-weight: 400;
}

.banner-content h1{
    font-size: 46px;
    font-weight: 900;
}

/* <!-- 65% off section style start here --> */
.second-section-container{
 width: 521px;
height: 525px;
margin: 0 auto;
margin-top: 58px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* .second-section-container{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
} */


.second-section-container h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 57px;
    font-weight: 700;
   
}

.second-section-container p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500
}

.second-section-container h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 32px;
font-weight: 700; 
margin-bottom: 20px;
}

.image-container{
    width: 521px;
height: 325px;
}

.image-container img{
    width: 100;
    height: 100%;
}

/* mdinight party section style */
.midnight-party-container{
    width: 858px;
    height: 390px;
    margin: 0 auto;
    margin-top: 78px;
    margin-bottom: 80px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.left-side-content{
width:50%;
width: 417px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 30px;
}

.left-side-content h2{
 color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 41px;
font-weight: 900;
    }

 .left-side-content p{
        color: rgba(255, 255, 255, 0.8);
        font-family: Inter;
        font-size: 11px;
        font-weight: 400;
        margin-top: 20px;
        margin-left: 20px;
        }  

#midnight-button{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 13px;
font-weight: 700;
margin-top: 31px;
margin-right: 200px;
}

.right-side-content{
   
    width: 226px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: dashed 1 px white;
}

.mid-img{
    width: 100%;
}
/* holdy section style */
.holiday-section-container{
 width: 858px;
height: 640px;
margin-top: 20px;
margin: 0 auto;
position: relative;

}

.holdyday-text-container{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 694px;
height: 169px;
margin: 0 auto;
gap: 10px;
}

.holdyday-text-container h5{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
}


.holdyday-text-container h2{
font-family: Merriweather;
font-size: 46px;
font-weight: 900;
}

#holiday{
    color:rgb(255, 0, 0)
}
.holdyday-text-container p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;   
    }
 .solid-color{
 width: 858px;
height: 148px;
background-color:  red;
position: absolute;
top: 77%;
 }

 .gift-box{
/* width: 518px;
height: 430px; */
width: 518px;
margin: 0 auto;
margin-left: 15px;
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */
margin-top: 20px;
margin-bottom: 20px;
border: dashed 1 px white;
position: relative;
z-index: 1;
display: flex;
justify-content: space-between;

 }
 .gift{
    width: 100%;
 }

   .discount{
    height: 191px;
    height: 191px;
   }


 
 